@import "../Global.scss";

header {
  width: 100%;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: $grey-100;
  h1 {
    font-size: $font_size_h1;
    margin: 0 0 8px 0;
  }
  .description {
    font-size: $font_size_body_large;
  }
}

@media (orientation: portrait) {
  section {
    header {
      padding: 40px 24px 24px 24px;
      h1 {
        font-size: $font_size_h2;
      }
    }
  }
}