
#sectionHowMuchSpace {
  .tableContainer {
    padding: 40px 32px;
    width: 40vw;
    @media (orientation: portrait) {
      padding: 40px 24px 24px 24px;
      width: 88vw;
      margin-bottom: 40px;
    }
  }
}